
.header_container{
  box-sizing: border-box;
  max-width: 1219px;
  height: 84px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 55px;
  padding-right: 55px;
}
 header {
    position: fixed; /* Фиксированное позиционирование */
    left: 7.8px; right: 7.8px; /* Вся ширина */
    top: 0; /* Положение сверху */
   }
.header {
  background: #007765;
  padding-top: 20px;

}

.logo {
  float: left;
  width: 184px;
  height: 45px;
  padding: 0;
	margin-top: 10px;
}

ul {
	padding: 0;
	margin-top: 18px;
	float: right;
}
li{
  display: inline-block;
  margin: 0 8px;
}
li, a{
  font-family: "Roboto",sans-serif;
  color: white;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
}


.container {
  box-sizing: border-box;
  max-width: 1219px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 55px;
  padding-right: 55px;
 
   
}

.hero {

	margin-top: 84px;
  padding-top: 160px;
  padding-bottom: 160px;
  background-image: url('image.png');
  background-size: cover;
  background-position: center center;
}
.hero__message {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 72px;
  line-height: 84px;
  text-align: center;
  color: #fff;
}

.prob_container{
  box-sizing: border-box;
  max-width: 1219px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 55px;
  padding-right: 54px;
}
.problem {
	background: #EEEEEE;
	padding-top: 48px;
    padding-bottom: 52px;
}
.prob_massage{
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 64px;
  line-height: 75px;
  text-align: center;
  color: #007765;
 
}
.text{
  font-family: Roboto, sans-serif;
  font-size: 32px;
  line-height: 37px;
  margin-bottom: 40px;
  margin-top: 16px;

  
}
.image_contain{
 box-sizing: border-box;
  max-width: 1219px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 163px;
  padding-right: 163px;
}
.image{
	padding-top: 128px;
  padding-bottom: 128px;
 background-image: url('image1.png');
 background-size: cover;
 background-position: center center;
}
.image_massage{
  font-family: Roboto, sans-serif;
  font-style: italic;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  color: #fff;
  padding: 0;
}

.intro_container{
  box-sizing: border-box;
  max-width: 1219px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 55px;
  padding-right: 54px;
}
.intro{
  background: #fff;
  padding-top: 48px;
 padding-bottom: 92px;
}
.intro_massage{
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 64px;
  line-height: 75px;
  text-align: center;
  color: #007765;
  margin-bottom: 10px;

}

.img1 {
  width: 115px;
  height: 115px;
  float: left;
  margin-right: 48px;

}

.team_container{
box-sizing: border-box;
  max-width: 1219px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 55px;
  padding-right: 54px;
}

.team{
	background: #EEEEEE;
	padding-top: 48px;
	padding-bottom: 50px;
   
}
.team_massage{
	font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 64px;
  line-height: 75px;
  text-align: center;
  color: #007765;
  margin-bottom: 30px;
}
table {
	  
	  border-collapse: collapse;
	  margin-bottom: 58px;
	

}
img{
  width: 168px;
  height: 168px;
}
#photo {
		 padding: 12px 106px; 
}
td{
	font-family: Roboto, sans-serif;
	font-style: italic;
	font-size: 18px;
	line-height: 21px;
	text-align: center;/* Поля вокруг текста */ 
	 padding-top: 0;


}
th{
	font-family: Roboto, sans-serif;
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
	text-align: center;
	color: #007765;

}

.foot_contain{
  box-sizing: border-box;
  max-width: 1219px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 340px;
  padding-right: 339px;

}

.footer {
	background: #333333;
	padding-top: 50px;
    padding-bottom: 62px;
}

.foot_massage {
  font-family: Roboto, sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #fff;

}